/* Sprite System */
.item-sprite {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: 256px 192px; /* 4x3 grid: 4 columns x 3 rows * 64px */
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.item-sprite-small {
  width: 32px;
  height: 32px;
  background-size: 128px 96px;
}

.item-sprite-large {
  width: 96px;
  height: 96px;
  background-size: 384px 288px;
}

/* Scaled positions for large sprites (1.5x scale) */
.item-sprite-large.sprite-pos-0 { background-position: 0 0; }
.item-sprite-large.sprite-pos-1 { background-position: -96px 0; }
.item-sprite-large.sprite-pos-2 { background-position: -192px 0; }
.item-sprite-large.sprite-pos-3 { background-position: -288px 0; }

.item-sprite-large.sprite-pos-4 { background-position: 0 -96px; }
.item-sprite-large.sprite-pos-5 { background-position: -96px -96px; }
.item-sprite-large.sprite-pos-6 { background-position: -192px -96px; }
.item-sprite-large.sprite-pos-7 { background-position: -288px -96px; }

.item-sprite-large.sprite-pos-8 { background-position: 0 -192px; }
.item-sprite-large.sprite-pos-9 { background-position: -96px -192px; }
.item-sprite-large.sprite-pos-10 { background-position: -192px -192px; }
.item-sprite-large.sprite-pos-11 { background-position: -288px -192px; }

/* Sprite Sheet Definitions */
.sprite-common-swords { background-image: url('/sprites/common-swords.png'); }
.sprite-common-axes { background-image: url('/sprites/common-axes.png'); }
.sprite-common-bows { background-image: url('/sprites/common-bows.png'); }
.sprite-common-armor { background-image: url('/sprites/common-armor.png'); }
.sprite-common-accessories { background-image: url('/sprites/common-accessories.png'); }
.sprite-rare-swords { background-image: url('/sprites/rare-swords.png'); }
.sprite-rare-axes { background-image: url('/sprites/rare-axes.png'); }
.sprite-rare-bows { background-image: url('/sprites/rare-bows.png'); }
.sprite-rare-armor { background-image: url('/sprites/rare-armor.png'); }
.sprite-rare-accessories { background-image: url('/sprites/rare-accessories.png'); }
.sprite-legendary-swords { background-image: url('/sprites/legendary-swords.png'); }
.sprite-legendary-axes { background-image: url('/sprites/legendary-axes.png'); }
.sprite-legendary-bows { background-image: url('/sprites/legendary-bows.png'); }
.sprite-legendary-armor { background-image: url('/sprites/legendary-armor.png'); }
.sprite-legendary-accessories { background-image: url('/sprites/legendary-accessories.png'); }
.sprite-enemy-sprites { background-image: url('/sprites/enemy-sprites.png'); }

/* Sprite positions for 4x3 grid (12 items: 4 columns, 3 rows) */
.sprite-pos-0 { background-position: 0 0; }
.sprite-pos-1 { background-position: -64px 0; }
.sprite-pos-2 { background-position: -128px 0; }
.sprite-pos-3 { background-position: -192px 0; }

.sprite-pos-4 { background-position: 0 -64px; }
.sprite-pos-5 { background-position: -64px -64px; }
.sprite-pos-6 { background-position: -128px -64px; }
.sprite-pos-7 { background-position: -192px -64px; }

.sprite-pos-8 { background-position: 0 -128px; }
.sprite-pos-9 { background-position: -64px -128px; }
.sprite-pos-10 { background-position: -128px -128px; }
.sprite-pos-11 { background-position: -192px -128px; }

/* Common bow sprites use 3x4 grid (3 columns, 4 rows) - different layout */
.sprite-common-bows.item-sprite {
  background-size: 192px 256px; /* 3 columns x 4 rows * 64px */
}

.sprite-common-bows.item-sprite-small {
  background-size: 96px 128px;
}

.sprite-common-bows.item-sprite-large {
  background-size: 288px 384px;
}

/* Common bow sprite positions for 3x4 grid */
.sprite-common-bows.sprite-pos-0 { background-position: 0 0; }
.sprite-common-bows.sprite-pos-1 { background-position: -64px 0; }
.sprite-common-bows.sprite-pos-2 { background-position: -128px 0; }

.sprite-common-bows.sprite-pos-3 { background-position: 0 -64px; }
.sprite-common-bows.sprite-pos-4 { background-position: -64px -64px; }
.sprite-common-bows.sprite-pos-5 { background-position: -128px -64px; }

.sprite-common-bows.sprite-pos-6 { background-position: 0 -128px; }
.sprite-common-bows.sprite-pos-7 { background-position: -64px -128px; }
.sprite-common-bows.sprite-pos-8 { background-position: -128px -128px; }

.sprite-common-bows.sprite-pos-9 { background-position: 0 -192px; }
.sprite-common-bows.sprite-pos-10 { background-position: -64px -192px; }
.sprite-common-bows.sprite-pos-11 { background-position: -128px -192px; }

/* Large common bow sprite positions */
.sprite-common-bows.item-sprite-large.sprite-pos-0 { background-position: 0 0; }
.sprite-common-bows.item-sprite-large.sprite-pos-1 { background-position: -96px 0; }
.sprite-common-bows.item-sprite-large.sprite-pos-2 { background-position: -192px 0; }

.sprite-common-bows.item-sprite-large.sprite-pos-3 { background-position: 0 -96px; }
.sprite-common-bows.item-sprite-large.sprite-pos-4 { background-position: -96px -96px; }
.sprite-common-bows.item-sprite-large.sprite-pos-5 { background-position: -192px -96px; }

.sprite-common-bows.item-sprite-large.sprite-pos-6 { background-position: 0 -192px; }
.sprite-common-bows.item-sprite-large.sprite-pos-7 { background-position: -96px -192px; }
.sprite-common-bows.item-sprite-large.sprite-pos-8 { background-position: -192px -192px; }

.sprite-common-bows.item-sprite-large.sprite-pos-9 { background-position: 0 -288px; }
.sprite-common-bows.item-sprite-large.sprite-pos-10 { background-position: -96px -288px; }
.sprite-common-bows.item-sprite-large.sprite-pos-11 { background-position: -192px -288px; }
